.footer {
  padding: 60px 18px;
  background-color: #4a4a4a;

  &--containerImg {
    display: flex;
    justify-content: space-between;
  }
  &--img {
    height: 80px;
  }
  &--boom {
    height: 25px;
  }
  &--partner {
    height: 40px;
  }
  &--footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    padding-top: 12px;
  }
  &--span {
    text-transform: capitalize;
    color: white;
  }
  &--visit {
    color: white;
    text-align: center;
  }
  &--link {
    color: white;
    &:hover {
      color: #ffc107;
    }
  }
}
