@import "./reset.scss";

.header {
  padding: 18px;
  background-color: lightgrey;
  position: sticky;
  width: 100%;
  z-index: 999;
  top: 0;
  &--fix {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--bee {
    height: 53px;
  }

  &--menu {
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    color: grey;
    padding: 5px 15px;
    cursor: pointer;
    margin-right: 33px;
  }
  &--span {
    text-transform: capitalize;
  }
  &--hiddem {
    margin-top: 12px;
    transition: 1s;
  }
  &--sub {
    padding: 8px 0;
    list-style: none;
    font-family: $font-main;
  }
  &--home {
    padding-top: 15px;
  }
  &--link {
    text-decoration: none;
  }
}

.hidden {
  display: none;
  transition: 1s;
}
