.students {
  padding: 70px 0;
  &--icon {
    color: #ffc107;
    font-size: 60px;
  }
  &--students {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    padding: 0 18.5px;
    margin-bottom: 25px;
  }
  &--check {
    text-transform: uppercase;
    padding: 12px;
  }
  &--containerTitle {
    display: flex;
    align-items: center;
  }

  &--title {
    padding-right: 18px;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
  }
  &--p {
    text-transform: none;
    padding-top: 10px;
    line-height: 22px;
  }
  &--span {
    text-transform: capitalize;
  }
  &--bee {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    margin: 35px 20px;
    padding: 15px 70px;
    height: 60px;
  }
}
