@import "./reset.scss";

.timeline {
  padding: 18px;
  background-color: #4a4a4a;

  &--title {
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 18px;
    font-family: $font-cursive;
  }
  &--section {
    @media all and (min-width: 768px) {
      padding: 15px 190px;
    }
  }
  &--list {
    list-style: none;
    display: flex;
    padding-bottom: 30px;
  }

  &--line {
    width: 3px;
    height: 300px;
    background-color: #f2f2f2;
  }
  &--icon {
    color: $main-color;
    margin: 3px;
    transform: translate(-7px, -280px);
    font-size: 10px;
  }
  &--span {
    text-transform: capitalize;
  }
  &--block {
    background-color: #f2f2f2;
    display: flex;
    padding: 20px 20px 0 20px;
  }
  &--containerImg {
  }
  &--workig {
  }
  &--text {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  &--subTitle {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    font-size: 20px;
  }
  &--p {
    padding: 20px 5px;
    font-size: 17px;
  }
}
