@import "./reset.scss";

.writing {
  background-image: url("../image/fondo.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &--link {
    text-decoration: none;
  }
  &--yearContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    padding: 15px 0;
  }

  &--scroll {
    font-size: 50px;
    transform: rotate(270deg);
    position: absolute;
    color: $main-color;
  }
  &--year {
    position: relative;
    bottom: -18px;
    font-size: 12px;
    font-family: $font-cursive;
    color: black;
  }

  &--writing {
    margin-top: 40px;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-size: 43px;
    padding: 0 35px;
    text-align: center;
    color: #4a4a4a;
    -webkit-text-stroke: 1px #4a4a4a;
    text-shadow: 2px 2px 0 #f4bc08, 0px 0px 0 #f4bc08, 0px 0px 0 #f4bc08, 0px 0px 0 #f4bc08,
      0px 0px 0 #f4bc08;
    cursor: pointer;
  }
  &--kids {
    text-transform: uppercase;
    padding: 25px 0;
    font-size: 30px;
    color: #4a4a4a;
    text-align: center;
    font-family: $font-main;
  }
  &--powered {
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 20px;
    font-family: $font-main;
  }

  &--img {
    height: 60px;
  }
  &--containerAge {
    display: flex;
    background-color: $main-color;
    margin-left: 150px;
    padding: 8px;
    border-radius: 8px;
  }
  &--age {
    font-size: 20px;
  }
}
