.writing {
  background-image: url("../image/fondo.jpg");
  background-size: cover;
  background-position: center;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &--link {
    text-decoration: none;
  }
  &--yearContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    padding: 15px 0;
  }
  &--page {
    width: 100%;
  }
  &--scroll {
    font-size: 50px;
    transform: rotate(270deg);
    position: absolute;
    color: chocolate;
  }
  &--year {
    position: relative;
    bottom: -18px;
    font-size: 12px;
    font-style: italic;
  }

  &--writing {
    margin-top: 40px;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-size: 43px;
    padding: 0 35px;
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 1px #4a4a4a;
    text-shadow: 2px 2px 0 #f4bc08, 0px 0px 0 #f4bc08, 0px 0px 0 #f4bc08, 0px 0px 0 #f4bc08,
      0px 0px 0 #f4bc08;
    cursor: pointer;
  }
  &--kids {
    text-transform: uppercase;
    padding: 25px 0;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
  &--powered {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
  }
  &--imgContainer {
  }
  &--img {
    height: 60px;
  }
}
